
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/main.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/.qmake.stash
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/Digital_Image_Processing_System.exe
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/libstdc++-6.dll
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_predefs.h
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_psmainwindow.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_psmainwindow.cpp
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/psmainwindow.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile.Debug
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile.Release
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/ui_psmainwindow.h
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/bmpimg.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/headerinfodialog.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_headerinfodialog.cpp
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_headerinfodialog.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/ui_headerinfodialog.h
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/colordisplay.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_colordisplay.cpp
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_colordisplay.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_position.cpp
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_position.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/position.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/object_script.Digital_Image_Processing_System.Debug
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/object_script.Digital_Image_Processing_System.Release
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/ui_colordisplay.h
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/ui_position.h
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_scalingdialog.cpp
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_scalingdialog.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/scalingdialog.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/ui_scalingdialog.h
