
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/main.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/.qmake.stash
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/Digital_Image_Processing_System.exe
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/libstdc++-6.dll
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_predefs.h
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_psmainwindow.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/moc_psmainwindow.cpp
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/debug/psmainwindow.o
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile.Debug
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/Makefile.Release
build-Digital_Image_Processing_System-Desktop_Qt_5_11_2_MinGW_32bit-Debug/ui_psmainwindow.h
